<!doctype html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
		<link href="http://localhost:8000/assets/application.css" rel="stylesheet" type="text/css">
		<script src="http://localhost:8000/assets/application.js"></script>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="BackendCtrl">
		<!-- Fixed navbar -->
	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">Project name</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav" ng-controller="LoginCtrl">
	            <!-- @if(Auth::check()) -->
						<li><a href="#users">Usuarios</a></li>
						<li><a href="#posts">Posts</a></li>
						<li><a ng-click="logout()">Log out</a></li>
						<li><a> {{ profile.name }}</a></li>

				<!-- @endif -->
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
		<div class="container"><!-- 
			<div class="page-header">
	        	<h1>Dashboard</h1>
	      	</div> -->
	      	<div ng-view></div>
		</div><!-- end #container -->
		<div class="footer">
	      <div class="container">
	        <p class="text-muted">
	        	<section id="copyright">
					<p>&copy; 2014 <?php trans('strings.rights_reserved') ?></p>
				</section><!-- end #copyright -->
				<!-- <section>
					<ul>
						<li><a title="Twitter" href="#"><img alt="Twitter" src="<?php url('images/twitter.png') ?>" /></a></li>
					</ul>
				</section> -->
	        </p>
	      </div>
	    </div>

	</body>
</html>
