<div class="row">

		<div class="col-md-4 col-md-offset-4">

			<% Form::open(array('routes' => 'sessions.store', 'id' => 'session')) %>

				<h2>Login</h2>

				<hr>

				<div class="form-group">
					<% Form::label('username', 'Username') %>
					<% Form::text('username', null, array('class' => 'form-control')) %>
				</div>

				<div class="form-group">
					<% Form::label('password', 'Password') %>
					<% Form::password('password', array('class' => 'form-control')) %>
				</div>

				<div class="form-group text-right">
					<% Form::submit('Sign in', array('class' => 'btn btn-primary', 'id' => 'btn-session')) %>
				</div>

			<% Form::close() %>		

		</div>

	</div>