<div class="row">

	<div class="col-md-4 col-md-offset-4">

		<form ng-controller="LoginCtrl" ng-submit="login()">

			<h2>Login</h2>

			<hr>

			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" ng-model="credentials.username" name="username" class="form-control">
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" ng-model="credentials.password" name="password" class="form-control">
			</div>

			<div class="form-group text-right">
				<input type="submit" class="btn btn-primary" value="Sign in" />
			</div>

			
		</form>
	</div>

</div>