<ul class="pagination" ng-show="totalPages > 1">
	<!-- <li><a ng-click="firstPage()">&laquo;</a></li>
	<li><a ng-click="prevPage()">&lsaquo;</a></li> -->
    <li ng-repeat="n in pages">
        <a class="current-{{n==current_page}}" href="#/{{entity}}?page={{n}}" ng-bind="n" ng-click="setPage(n)">1</a>
	</li>
    <!-- <li><a ng-click="nextPage()">&rsaquo;</a></li>
    <li><a ng-click="last_page()">&raquo;</a></li> -->
</ul>