<div ng-controller="UsersCtrl">
    
    <script type="text/ng-template" id="form_user.html">
        <div>
            <form>
                <div class="modal-header">
                    <h3>Usuario</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" ng-model="user.username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" ng-model="user.name" class="form-control" />
                    </div>
                    
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" ng-model="user.password" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <button class="btn btn-primary" ng-click="ok()">Ok</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </script>

    <div class="subheader">
        <h2>Users</h2>
        <p>
            <a ng-click="new_user()" class="btn btn-primary"> Crear nuevo </a>
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <colgroup>
                <col class="col-md-2">
                <col class="col-md-2">
                <col class="col-md-2">
                <col class="col-md-2">
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users" ng-hide="loading">
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.created_at }}
                    </td>
                    <td>
                        <button ng-click="edit_user(user.id)" class="btn btn-primary">Editar</button>
                        <button ng-click="delete_user(user.id)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
                <!-- <tr ng-if="!users.length">
                    <td colspan="3">No users were found</td>
                </tr> -->
            </tbody>
        </table>
       <!-- <div paginator="results"></div> -->
       <paginator results="results" entity="users"></paginator>
        <div align="center">
            <img src="assets/loader.gif" width="50px" ng-show="loading" />
        </div>
    </div>
    
</div>
