<div ng-controller="PostsCtrl">
    <form ng-submit="">
        <div class="subheader">
            <h2>Post</h2>
        </div>
        <hr />
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" ng-model="post.title" />
        </div>
        <div class="form-group">
            <label>Text</label>
            <textarea class="form-control" ng-model="post.text"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success" ng-click="change_save(post)">Guardar</button>
            <a href="#/posts/" class="text-danger">Regresar</a>
            <a href="#/posts/{{post.id}}" class="text-primary">Ver publicación</a>
        </div>
    </form>
</div>