<div ng-controller="PostsCtrl">
    
    <div class="subheader">
        <h2>Posts</h2>
        <p>
            <a class="btn btn-primary" href="#posts/post/create"> Crear nuevo </a>
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <colgroup>
                <col class="col-md-2">
                <col class="col-md-2">
                <col class="col-md-2">
                <col class="col-md-2">
            </colgroup>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>User</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts" ng-hide="loading">
                    <td>
                        <a href="#posts/{{post.id}}">
                        {{ post.title }}
                        </a>
                    </td>
                    <td>
                        {{ post.user_id }}
                    </td>
                    <td>
                        {{ post.created_at }}
                    </td>
                    <td>
                        <a href="#posts/{{post.id}}/edit" class="btn btn-primary">Editar</a>
                        <button ng-click="delete_post(post.id)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
       <paginator results="results" entity="posts"></paginator>
        <div align="center">
            <img src="assets/loader.gif" width="50px" ng-show="loading" />
        </div>
    </div>
    
</div>
