<div ng-controller="PostsCtrl">
<div class="subheader">
    <h2>show Post</h2>
</div>
<hr />
<div>
    <label>Title</label>
    {{ post.title }}
</div>
<div>
    <label>Text</label>
    {{ post.text }}
</div>
<p>
	<a href="#posts/">Go to posts</a>
</p>
</div>