@import 'colors', 'fonts';

a {
	cursor: pointer;
}

.modal {
	display: block;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.active-pagination {
	color: #ffffff !important;
	background: #0e3e63 !important;
	background-color: #0e3e63 !important;
}