
@import 'colors', 'fonts';

html {
    overflow-y: scroll;
}

body {
    font-size: $base-font-size;
}

h1 {
    font-size: $h1-font-size;
}


h2 {
    font-size: $h2-font-size;
}


h3 {
    font-size: $h3-font-size;
}


h4 {
    font-size: $h4-font-size;
}


h5 {
    font-size: $h5-font-size;
}


h6 {
    font-size: $h6-font-size;
}

hr {
    border-color: $dim-gray;
}

textarea {
    resize: none;
}

th {
    color: $white;
    font-weight: normal;
    background-color: $blue;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $blue;
}

table, button, label, input, p {
    font-size: $h4-font-size;
}

.help-block, .form-control, .btn {
    font-size: $h4-font-size;
}

.container {
    max-width: 960px;
}

.btn {
    border-radius: 0;
}

.cover {
    display: none;
}

.error {
    color: $red;
    font-weight: normal;
}

.help-inline {
    color: $gray;
    font-size: $h4-font-size;
}

.btn-primary {
    border-color: $blue;
    background-color: $blue;

    &.active, &:hover {
        border-color: $gold;
        background-color: $gold;
    }
}

.table {

    th {
        color: #ffffff;
        font-weight: normal;
        background-color: $blue;
        a {
            color: #ffffff;
            text-decoration: underline;
            &:hover {
                color: $gold;
            }
        }
    }
    
    form {
        display: inline;
    }

    .btn-danger {
        border-color: $dark-red;
        background-color: $dark-red;

        &.active, &:hover {
            border-color: $gold;
            background-color: $gold;
        }
    }
}
